@using Microsoft.AspNetCore.Mvc.Localization
@model HomeViewModel

@inject IViewLocalizer Localizer

@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Html.DisplayNameFor(model => model.Title)</h1>
    <p>@Localizer["Title"]</p>
    <h3>@ViewData["SubTitle"]</h3>
</div>

