@model NewCo.Areas.PersonalData.Models.Item

@{
    ViewData["Title"] = "Eliminazione Articolo";
}

<h1>Eliminazione Articolo</h1>

<h3>Sei sicuro di voler eliminare questo articolo?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inventory)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="submit" value="Elimina" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Annulla</a>
    </form>
</div>
