@model NewCoEF.Security.Areas.Admin.Models.UserViewModel

<h1>User</h1>

<h4>Edit User Roles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" readonly />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <table class="table">
                <thead>
                    <tr>

                        <th>
                            Role
                        </th>
                        <th>
                            Description
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ExistRoles)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.Description)
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => item.Selected)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
