<h1>Personal Data</h1>

<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="~/img/county.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Province</h5>
                <p class="card-text">
                    Gestione delle province, è possibile creare, modificare ed eliminare le province.
                    In questi <a href="https://www.studiomadera.it/vari/195-province" target="_blank">link</a> è possibile consultare l'elenco delle province.'
                </p>
                <a asp-area="PersonalData" asp-controller="County" asp-action="Index" class="btn btn-primary">Entra</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="~/img/country.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gestione dei paesi</h5>
                <p class="card-text">
                    Paesi, è possibile creare, modificare ed eliminare i paesi.
                    In questo <a href="https://it.wikipedia.org/wiki/ISO_3166-1" target="_blank">link</a> è possibile visionare l'elenco dei paesi ufficiali del mondo.
                </p>
                <a asp-area="PersonalData" asp-controller="Country" asp-action="Index" class="btn btn-primary">Entra</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="~/img/customer.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Clienti</h5>
                <p class="card-text">
                    Gestione dei clienti, è possibile creare, modificare ed eliminare i clienti.
                    In questo <a href="https://telematici.agenziaentrate.gov.it/VerificaPIVA/Scegli.do?parameter=verificaPiva" target="_blank">link</a> puoi verificare la partita iva dei clienti e recuperare dati corretti.
                </p>
                <a asp-area="PersonalData" asp-controller="Customer" asp-action="Index" class="btn btn-primary">Entra</a>
            </div>
        </div>
    </div>
     <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#collection" /></svg>
        </div>
        <h2>Articoli</h2>
        <p>Gestione degli articoli, è possibile creare, modificare ed eliminare gli articoli.</p>
        <a asp-area="PersonalData" asp-controller="Item" asp-action="Index" class="icon-link">
            Entra
            <svg class="bi" width="128" height="128" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#archive" />
            </svg>
        </a>
    </div>
</div>