@{
    ViewData["Title"] = "Index";
}
<div class="container px-4 py-5" id="icon-grid">
    <h1 class="pb-2 border-bottom">Anagrafiche</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap" /></svg>
            <div>
                <h4 class="fw-bold mb-0"><a asp-controller="Countries">Paesi</a></h4>
                <p>Elenco dei paesi del mondo</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill" /></svg>
            <div>
                <h4 class="fw-bold mb-0"><a asp-controller="Counties">Province</a></h4>
                <p>Elenco delle province d'Italia</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer" /></svg>
            <div>
                <h4 class="fw-bold mb-0"><a asp-controller="Customers">Clienti</a></h4>
                <p>Elenco dell'anagrafica clienti</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2" /></svg>
            <div>
                <h4 class="fw-bold mb-0"><a asp-controller="Items">Prodotti</a></h4>
                <p>Elenco dei prodotti in vendita</p>
            </div>
        </div>

    </div>
</div>

